<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/marketplace/{id}(id=${products.getId()})}" th:object="${products}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for=cost>Enter cost: </label>
    <input type="text" th:field="*{cost}" id="cost"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>